body {
    font-family: Arial;
    text-align: center;
    background: #f4f6f8;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #4CAF50;
    color: white;
}