body {
    font-family: Arial;
    text-align: center;
}

.gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

img {
    width: 150px;
    border-radius: 8px;
}