body{
    background-color:aliceblue;
    font-family: sans-serif;
    text-align: center;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.form input{
    display: block;
    margin: 10px;
    padding: 8px;
    width: 200px;
}
.card{
    border: 1px solid black;
    padding:20px;
    border-radius: 10px;
    background-color: rgb(173, 220, 221);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}