body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
button{
    background-color: cadetblue;
    width: 100px;
    height: 30px;

}
input{
    border: 2px solid black;
    height: 30px;
    padding: 10px;
}
.container{
    border: 1px solid black;
    padding: 20px;
    margin: 60px;
    background-color: rgb(190, 209, 225);
}