body {
    font-family: Arial;
    text-align: center;
    background: #f4f6f8;
}

input {
    margin: 5px;
    padding: 8px;
}

button {
    padding: 8px;
    background: green;
    color: white;
    border: none;
}

table {
    margin: 20px auto;
    background: white;
}