body {
    margin: 0;
    font-family: Arial;
}

/* Header */
header {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Layout */
.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 25%;
    background: #f4f4f4;
    padding: 15px;
}

/* Content */
.content {
    width: 75%;
    padding: 15px;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}