body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
    margin: 0;
}

/* Title */
h2 {
    margin-top: 20px;
    color: #333;
}

/* Chart container */
canvas {
    background: white;
    margin: 30px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 600px;
}