body {
    font-family: Arial;
    text-align: center;
    background: #f4f6f8;
}

canvas {
    max-width: 350px;
    margin: 20px auto;
    display: block;
    background: white;
    padding: 10px;
    border-radius: 8px;
}