/* body {
    font-family: Arial;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    width: 200px;
    margin: auto;
}

li {
    padding: 10px;
    margin: 5px;
    background: #4CAF50;
    color: white;
    cursor: grab;
    border-radius: 5px;
}*/

li.dragging {
    opacity: 0.5;
} 

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

ul{
    list-style: none;
    margin: auto;
    width: 200px;

}
li{
    background-color: cadetblue;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}