body {
    font-family: Arial;
    text-align: center;
    background: #f4f6f8;
    margin: 0;
}

h2 {
    margin-top: 20px;
    color: #333;
}

/* Chart container */
canvas {
    display: block;
    margin: 30px auto;
    max-width: 400px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}